.suite {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.suite__left-side {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
}

.suite__child-count {
  color: var(--primary600);
}

.suite__left-side--arrow {
  position: absolute;
  margin-top: -4px;
  margin-left: -15px;
}

.suite__title {
  margin-top: 3px;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: var(--primary1000);
}

.suite--btn {
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: white;
  border: none;
}

.arrow--btn {
  width: 100%;
  margin-top: 19px;
  cursor: pointer;
  background-color: white;
  border: none;
}

.suites-block__suites-list {
  max-height: 700px;
}
