.create-plan {
  display: flex;
  flex-direction: column;
  height: 84vh;
  padding: 36px 30px 38px 32px;
  overflow: hidden;
}

.select-cases__modal {
  position: relative;
  width: 100%;
  max-width: 1500px;
  height: 90vh;
  padding: 24px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

.create-plan__navigation {
  display: flex;
  gap: 28px;
  margin-bottom: 56px;
}

.create-plan_back-button {
  cursor: pointer;
  background-color: white;
  border: none;
}

.create-plan__title {
  font-size: 24px;
  font-weight: 600;
  color: var(--base-black);
}

.create-plan__topic {
  padding-bottom: 9px;
  margin-bottom: 40px;
  font-weight: 700;
  color: var(--base-black);
  border-bottom: 0.5px solid var(--primary400);
}

.create-plan__form {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.create-plan__form-content {
  flex: 1;
  padding-bottom: 20px;
  overflow-y: auto;
}

.create-plan__form-title {
  display: flex;
  flex-direction: column;
}

.create-plan__label {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
  color: var(--base-black);
  text-transform: uppercase;
}

.create-plan__form-input {
  width: 100%;
  max-width: 702px;
  padding-left: 12px;
  background-color: var(--primary500);
}

.create-plan__form-info {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.create-plan__form-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.case-step__actions {
  padding: 9px 10px 14px;
  cursor: pointer;
  background-color: var(--primary700);
  border: none;
  border-radius: 12px;
}

.create-plan__add-step {
  width: 100%;
  max-width: 145px;
  padding: 7px 12px;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 16px;
}

.create-plan__form-border {
  margin-top: auto;
  border-top: 1px solid var(--primary400);
}

.create-plan__form-buttons {
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding-top: 16px;
  background-color: white;
}

.create-plan__form-steps-title {
  margin-top: 40px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary1000);
  text-transform: uppercase;
}

.create-plan__cancel {
  background-color: var(--neutrals400);
}

.selected-suite-title {
  font-size: 16px;
  font-weight: 500;
}

.selected-case-name {
  font-size: 14px;
}

.selected-cases-list {
  border-left: 0.5px solid var(--primary400);
}

.selected-case {
  display: flex;
  gap: 16px;
  padding-left: 36px;
  margin-top: 20px;
}

.create-plan__selected-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.selected-suite__name-part {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: none;
}

.delete-case__button {
  cursor: pointer;
  background-color: white;
  border: none;
}

.create-plan__name-error {
  position: absolute;
  margin-top: 75px;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 500;
  color: var(--error100);
}
