.repository-header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 20px;
  padding-left: 32px;
  background-color: var(--background);
}

.repository-header__info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.repository-name__info--name {
  font-size: 24px;
  font-weight: 500;
  line-height: 16px;
  color: var(--base-black);
}

.repository-name__info--cases {
  margin-top: 3px;
  color: var(--primary300);
  text-align: center;
}

.repository-header__buttons {
  display: flex;
  gap: 8px;
}

.repository-header__button-additional {
  padding: 10px 12px;
  background-color: var(--neutrals400);
}

.repository-header__button-additional:hover {
  background-color: var(--hover-neutrals400);
}

.repository-header__button-additional:active {
  background-color: var(--active-neutrals400);
}

.repository-header__buttons--add {
  padding: 10px 12px;
}

.repository-header-leave {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.repository-header__button-leave {
  margin-right: 10px;
  background-color: var(--primary400);
  border-radius: 5px;
}
