* {
  padding: 0;
  margin: 0;
  font-family: Golos, sans-serif;
}

:root {
  --accent2: #ff9700;
  --primary400: #bdbdbd;
  --primary200: #f8fbfb;
  --background: #f0f5f6;
  --primary300: #bababa;
  --base-black: #333;
  --primary600: #919191;
  --neutrals100: #f6f6f6;
  --primary1000: #393939;
  --neutrals400: #b5b5b5;
  --primary500: #f9f9f9;
  --primary700: #efefef;
}

@font-face {
  font-family: Golos;
  src:
    local("Golos"),
    url("src/assets/fonts/golos-text_regular.ttf") format("ttf");
}
