.cases-block {
  width: 100%;
  max-width: 100%;
  padding: 27px 22px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.cases-block__suites-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
}
